@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #23252c;
  --bg-card: #141414;
  --accent: #208e2c;
  --accent-hover: #27a835;
  --text-primary: #FFFFFF;
  --text-secondary: #B3B3B3;
  --text-muted: #7A7A7A;
  --border: #222222;
}
